/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f4;
  display: flex;
  min-height: 100vh;
  color: #333;
}

/* Estilos para o Header */
header {
  width: 100%;
  background-color: #0b3d8f;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  font-size: 2.5rem;
}

/* Barra Lateral */
.sidebar {
  width: 220px;
  background-color: #1c1c1c;
  color: white;
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #007bff;
}

/* Estilos para o Main */
main {
  margin-left: 240px;
  padding: 100px 20px;
  background-color: white;
  width: calc(100% - 240px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.filter-section {
  margin-bottom: 20px;
  padding: 20px;
  background: #e9ecef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filters label {
  margin-right: 5px;
}

.filters select, 
.filters input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
}

.filters button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #218838;
}

.history-section {
  margin-top: 20px;
  padding: 20px;
  background: #e9ecef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#daily-purchases {
  list-style: none;
  padding: 0;
}

#daily-purchases li {
  padding: 10px;
  background: #f8f9fa;
  margin: 5px 0;
  border-radius: 5px;
}

/* Total Section */
.total-section {
  margin-top: 20px;
  padding: 20px;
  background: #e9ecef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
