/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
  }
  
  /* Estilos para o Header */
  header {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* Barra Lateral */
  .sidebar {
    width: 200px;
    background-color: #343a40;
    color: white;
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100% - 80px);
    padding: 20px 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar ul li a:hover {
    background-color: #007bff;
    padding: 15px;
    display: block;
  }
  
  /* Estilos para o Main */
  main {
    margin-left: 220px;
    padding: 100px 20px;
    background-color: white;
    width: calc(100% - 220px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
  }
  
  .material-section,
  .list-section {
    margin-bottom: 20px;
  }
  
  .material-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .material-inputs select,
  .material-inputs input,
  button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #shopping-list {
    list-style: none;
    padding: 0;
  }
  
  #shopping-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  
  #shopping-list li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
/*
  #shopping-list li 
  {} */